WcfServiceSample/UnitTestConvertingText/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConvertingText" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConvertingText_GetTextInUpperCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextInUpperCase" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetTextInUpperCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextInUpperCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetTextInLowerCase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextInLowerCase" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetTextInLowerCase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextInLowerCaseResponse" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetReverseText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReverseText" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetReverseText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReverseTextResponse" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetSplitText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSplitText" />
  </wsdl:message>
  <wsdl:message name="IConvertingText_GetSplitText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSplitTextResponse" />
  </wsdl:message>
  <wsdl:portType name="IConvertingText">
    <wsdl:operation name="GetTextInUpperCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvertingText/GetTextInUpperCase" message="tns:IConvertingText_GetTextInUpperCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvertingText/GetTextInUpperCaseResponse" message="tns:IConvertingText_GetTextInUpperCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextInLowerCase">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvertingText/GetTextInLowerCase" message="tns:IConvertingText_GetTextInLowerCase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvertingText/GetTextInLowerCaseResponse" message="tns:IConvertingText_GetTextInLowerCase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReverseText">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvertingText/GetReverseText" message="tns:IConvertingText_GetReverseText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvertingText/GetReverseTextResponse" message="tns:IConvertingText_GetReverseText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSplitText">
      <wsdl:input wsaw:Action="http://tempuri.org/IConvertingText/GetSplitText" message="tns:IConvertingText_GetSplitText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConvertingText/GetSplitTextResponse" message="tns:IConvertingText_GetSplitText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConvertingText" type="tns:IConvertingText">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTextInUpperCase">
      <soap:operation soapAction="http://tempuri.org/IConvertingText/GetTextInUpperCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextInLowerCase">
      <soap:operation soapAction="http://tempuri.org/IConvertingText/GetTextInLowerCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReverseText">
      <soap:operation soapAction="http://tempuri.org/IConvertingText/GetReverseText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSplitText">
      <soap:operation soapAction="http://tempuri.org/IConvertingText/GetSplitText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvertingText">
    <wsdl:port name="BasicHttpBinding_IConvertingText" binding="tns:BasicHttpBinding_IConvertingText">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceTestTask/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>